body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #1e2832;
}

img {
  height: auto;
  max-width: 50%;
  max-height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.25rem;
}

h1,
h2,
h3 {
  color: white;
  text-align: center;
}
