<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Audio Description</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles1.css" />
    <link
      rel="stylesheet"
      href="
    https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css "
    />
  </head>
  <body>
    <div class="container center">
      <div class="row">
        <div class="col-md-12">
          <h1 class="white">Audio Description of Image</h1>
          <p class="white">
            Upload any Image and get a caption along with its audio Description
          </p>
        </div>
      </div>

      <form
        name="upload"
        method="POST"
        action="{{url_for('after')}}"
        enctype="multipart/form-data"
      >
        <div class="row">
          <div class="col-md-6 col-md-offset-3 center">
            <div class="btn-container">
              <!--the three icons: default, ok file (img), error file (not an img)-->
              <h1 class="imgupload"><i class="fa fa-file-image-o"></i></h1>
              <h1 class="imgupload ok"><i class="fa fa-check"></i></h1>
              <h1 class="imgupload stop"><i class="fa fa-times"></i></h1>
              <!--this field changes dinamically displaying the filename we are trying to upload-->
              <p id="namefile">Only pics allowed! (jpg,jpeg)</p>
              <!--our custom btn which which stays under the actual one-->
              <button type="button" id="btnup" class="btn btn-primary btn-lg">
                Browse for your pic!
              </button>
              <!--this is the actual file input, is set with opacity=0 beacause we wanna see our custom one-->
              <input type="file" name="img" id="fileup" />
            </div>
          </div>
        </div>
        <!--additional fields-->
        <div class="row">
          <div class="col-md-12">
            <!--the defauld disabled btn and the actual one shown only if the three fields are valid-->
            <input
              type="submit"
              value="Submit!"
              class="btn btn-primary"
              id="submitbtn"
            />
            <button
              type="button"
              class="btn btn-default"
              disabled="disabled"
              id="fakebtn"
            >
              Predict! <i class="fa fa-minus-circle"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../static/index.js"></script>
  </body>
</html>
